body{
    background: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: rgb(14, 240, 191);
    padding: 0.8%;
}
.nav{
    display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow:0 2px rgb(19, 236, 189);
  z-index: 10;
  font-size: 4ex;
  border-right-style: solid;


}
.navr{
    color:rgb(19, 236, 189);
    text-shadow: 2px  -2px  black;

}
.navr:hover{
    color:white;
    background: rgb(19, 236, 189);
    text-shadow: 2px  -2px rgb(19, 236, 189) ;

}
.background{
    height:60ex;
    text-align: center;
}

.hide {
    display: none;
}
  
.background :hover + .hide 
{
    display: block;
    color: red;
}
.projects{
    background:rgb(1, 255, 200);
    font-size:3ex;
}
.pro{
    color:blanchedalmond;
    background: black;
    margin: 4%;
    width:30ex;
    display: -webkit-inline-box;
    text-align: center;
}  


img{
    text-align: center;
}
h1{
    color:white;
    font-size:7.2ex;
    text-align: center;
    margin-top:15%;
    text-shadow:  1px -2px  rgb(7, 248, 196);
}
br{
    transform: rotate(-7deg);
}
h2{
    color:rgb(243, 250, 241);
    text-align: center;
    font-size: 5ex;

}
h4{
    color:white;
    text-align:center;
    margin: 0%;
}
.contact{
    text-align: center;
}
.contacts{
    margin-top: 2%;
    font-size: 3.5ex;
}
h4:hover{

    color:red;
}
hr{
    color:rgb(6, 255, 222);
}
p{
    color:rgb(6, 255, 222);
    
}
.add{
    text-align: right;
}